

<%= form_with model: ticket, url: url, html: { class: 'form' } do |form| %>
    
    <div class="mb-3">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= form.label :description %>
        <%= form.text_field :description, class: "form-control" %>    
    </div>

    <div class="mb-3">
    <%= form.label :worker_id %>
    <%= form.select :worker_id, Worker.active.pluck(:first_name, :id), class: "form-control" %>
    </div>

    <div class="mb-3">
        <%= form.label :state %>
        <%= form.select :state, Ticket::STATES %>
    </div>
    <div class="mb-3">
        <%= form.label :status %>
        <%= form.select :status, Ticket::STATUSES %>
    </div>
    
    <%= form.submit "Submit", class: "btn btn-primary"  %>
<% end %>