<div class="d-flex align-items-center justify-content-center" >
    <h1> Tickets </h1>
</div>

<% if @tickets.present? %>
  <table>
    <thead>
      <tr>
        <th class='col-1'>Title</th>
        <th class='col-1'>Description</th>
        <th class='col-1'>Worker_id</th>
        <th class='col-1'>State</th>
        <th class='col-1'>Status</th>
        <th class='col-1'>created_at</th>
        <th class='col-1'>creator_worker_id</th>

      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.title %></td>
          <td><%= ticket.description %></td>
          <td><%= ticket.worker_id %></td>
          <td><%= ticket.state %></td>
          <td>
            <% Ticket::STATUSES.each do |status| %>
              <%= link_to_unless ticket.status.eql?(status.to_s), status, change_status_ticket_path(ticket, status: status), method: :patch %>
            <% end %>
          </td>
          <td><%= ticket.created_at %></td>
          <td><%= ticket.creator_worker_id %></td>

          <td><%= link_to "Edit ticket", edit_ticket_path(ticket) %></td>
        </tr>
        
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to "Create_ticket", new_ticket_path, class: "btn btn-primary" %>
